.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 11%
    right: 7%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)